$(document).ready(function () {
    //меняем метку при изменении текста
    $("#sms_content").bind("input cut paste", function () {
        $.ajax({
            type: "POST",
            url: '<%= message_sms_count_path %>',
            data: {
                content: $("#sms_content").val()
            }
        }).done(function (msg) {
            var text = "Длина SMS сообщения: " + $("#sms_content").val().length + " символов. Количество СМС: " + msg['sms_count'] + " шт.";
            $("#sms_count_label").text(text);
        });
    });
});