$(document).ready(function () {
    //рассчитываем предварительную стоимость рассылки
    $("#calc").bind("click", function () {
        var calcButton = $(this);
        var floatingBar = $("#floatingBarsG");

        calcButton.hide();
        floatingBar.show();

        $.ajax({
            type: "GET",
            url: '<%= message_price_calc_path %>',
            data: {
                sender_name_value: $("#client_sender_name").val(),
                phones: $("#client_phone_numbers").val(),
                group_ids: $("#client_ids").val(),
                template_id: $("#client_template").val(),
                content: $("#sms_content").val()
            }
        }).done(function (msg) {
            var text = "Итоговая сумма при 100% доставке за рассылку составит " + msg['sms_price'] + " руб.";
            $("#sms_price_label").text(text);

            console.log(calcButton);
            console.log(floatingBar);

            calcButton.show();
            floatingBar.hide();
        }).fail(function () {
            calcButton.show();
            floatingBar.hide();
        });
    });
});