<div class="row">
  <div class="twelve columns">
    <table class="twelve">
      <thead>
      <tr>
        <th>Дата отправки СМС</th>
        <th>Дата получения подтверждения от СМС центра</th>
        <th>Телефон</th>
        <th>Текст</th>
        <th>Имя отправителя</th>
        <th>Цена</th>
        <th>Число СМС</th>
        <th>Тарифная группа</th>
        <th>Канал отправки</th>

        <th>Статус доставки</th>
        <th>Ошибка при доставке</th>
      </tr>
      </thead>
      <tbody>

      <% @send_logs.each do |send_log| %>
          <tr>
            <td><%= I18n.l(send_log.created_at, :format => '%d %B %Y, %H:%M:%S') if send_log.created_at %></td>
            <td><%= I18n.l(send_log.updated_at, :format => '%d %B %Y, %H:%M:%S') if send_log.updated_at %></td>
            <td><%= number_to_phone(send_log.phone, :area_code => true) %></td>
            <td><%= send_log.log.content %></td>
            <td><%= send_log.log.sender_name_value %></td>
            <td><%= number_to_currency(send_log.price) %></td>
            <td><%= send_log.log.sms_count %></td>

            <td><%= send_log.cell_operator_group.name %></td>

            <td><%= send_log.channel.name %></td>

            <td><%= send_log.delivery_status.name %></td>
            <td><%= send_log.delivery_error.name %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <%= will_paginate @send_logs %>
  </div>
</div>