<div class="row">
  <div class="twelve columns">
    <table class="twelve">
      <thead>
      <tr>
        <th>#</th>
        <th>Дата платежа</th>
        <th>Email</th>
        <th>ФИО</th>
        <th>Тип платежа</th>
        <th>Сумма(руб.)</th>
      </tr>
      </thead>
      <tbody>

      <% @payments.each do |payment| %>
          <tr>
            <td><%= payment.id %></td>
            <td><%= payment.approved_at %></td>
            <td><%= payment.user_email %></td>
            <td><%= payment.user_fio %></td>
            <td><%= payment.service_name %></td>
            <td><%= payment.amount %></td>
          </tr>
      <% end %>
      <tr>
        <td>Итого</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= round_currency @payments.sum(&:amount) %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>