<div class="row">
  <div class="twelve columns">
    <%= form_for :template, url: create_template_path, method: :post do |f| %>

        <label>Имя шаблона</label>
        <%= f.text_field :name, :placeholder => "Имя шаблона" %>

        <label>Текст шаблона</label>
        <%= f.text_area :text, :placeholder => "Текст шаблона" %>
        <br>
        <%= f.submit "Сохранить", :class => 'button' %>
    <% end %>
  </div>
</div>