<div class="row">
  <div class="twelve columns">
    <table class="twelve">
      <thead>
      <tr>
        <th>Пользователь</th>
        <th>Имя отправителя</th>
        <th colspan="2">Действия</th>
      </tr>
      </thead>
      <tbody>

      <% @sender_names.each do |sender_name| %>
        <tr>
          <td><%= sender_name.user.email %></td>
          <td><%= sender_name.value %></td>
          <td>
            <%= link_to 'Принять', admin_sender_name_accept_path(sender_name) %>
          </td>
          <td>
            <%= link_to 'Отклонить', admin_sender_name_reject_path(sender_name) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>