<div class="row">
  <div class="twelve columns">
    <div class="panel">
      <p>При составлении шаблона можно использовать подстановочный символ %{fio}. Это позволит автоматически
        сгенерировать поздравление подставив туда Имя Фамилию Отчество клиента</p>
    </div>
  </div>
</div>

<%= form_for :template_birthday, url: update_template_birthday_path, method: :post do |f| %>
    <!-- выбор времени отправки -->
    <div class="row">
      <div class="four columns">
        <label>Время для отправки СМС с поздравлением(время по Москве)</label>
        <%= f.select :birthday_hour, Period.hours.map {|t| [t[:hour], t[:index]]}, :selected => current_user.birthday_hour %>
      </div>
    </div>
    <!-- выбор времени отправки -->

    <br>

    <!-- имя отправителя -->
    <div class="row">
      <div class="four columns">
        <label>Имя отправителя</label>
        <%= f.select :birthday_sender_name, sender_name_values, :selected => current_user.birthday_sender_name %>
      </div>
    </div>
    <!-- имя отправителя -->

    <br>

    <div class="row">
      <div class="twelve columns">
        <label>Текст шаблона для поздравления с днём рождения</label>
        <%= f.text_area :birthday_message, :placeholder => "Текст шаблона", :value => @birthday_message %>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <%= f.submit "Сохранить", :class => 'button' %>
        <br>
      </div>
    </div>

<% end %>
