<div class="row">
  <div class="twelve columns">
    <%= link_to 'Добавить шаблон сообщений', new_template_path, :class => "button" %>
  </div>
</div>

<br>

<div class="row">
  <div class="twelve columns">
    <table class="twelve">
      <thead>
      <tr>
        <th>Имя</th>
        <th>Текст</th>
        <th colspan="2">Действия</th>
      </tr>
      </thead>
      <tbody>

      <% @templates.each do |template| %>
          <tr>
            <td><%= template.name %></td>
            <td><%= template.text %></td>

            <td>
              <%= link_to 'Редактировать', show_template_path(template) %>
            </td>

            <td>
              <%= link_to 'Удалить', delete_template_path(template), method: :delete, data: {confirm: "Вы уверены что хотите удалить шаблон?"} %>
            </td>
          </tr>
      <% end %>

      </tbody>
    </table>
  </div>
</div>
