<%= render 'panel' %>

<div class="row">
  <div class="two columns">
    <%= link_to 'Добавить тариф', admin_operator_tariff_new_path(@decorator.operator), class: :button %>
  </div>
</div>

<br>

<div class="row">
  <div class="twelve columns">
    <table class="twelve">
      <thead>
      <tr>
        <th>Дата начала действия тарифа(включительно)</th>
        <th>Дата окончания действия тарифа(включительно)</th>
        <th>Цена за 1 SMS (руб.)</th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody>

      <% @operator_tariffs.each do |operator_tariff| %>
          <tr>
            <td><%= operator_tariff.begin_date %></td>
            <td><%= operator_tariff.end_date %></td>
            <td><%= round_currency operator_tariff.price_per_sms %></td>
            <td>
              <%= link_to 'Редактировать', admin_operator_tariff_edit_path(operator_tariff) %>
              <%= link_to 'Удалить', admin_operator_tariff_destroy_path(operator_tariff), method: :delete, data: {confirm: 'Вы уверены что хотите удалить тарифную запись?'} %>
            </td>
          </tr>
      <% end %>

      </tbody>
    </table>
  </div>
</div>