<%= @decorator.datepicker %>

<%= form_for :operator_tariff, :url => admin_operator_tariff_create_path(@decorator.operator.id) do |form| %>

    <div class="row">
      <div class="three columns">
        <label>Дата начала действия тарифа(включительно)</label>
        <%= @decorator.begin_datefield(form) %>
      </div>
    </div>

    <div class="row">
      <div class="three columns">
        <label>Дата окончания действия тарифа(включительно)</label>
        <%= @decorator.end_datefield(form) %>
      </div>
    </div>

    <div class="row">
      <div class="three columns">
        <label>Цена за 1 SMS</label>
        <%= @decorator.price_per_sms_field(form) %>
      </div>
    </div>

    <div class="row">
      <div class="three columns">
        <%= @decorator.create_button %>
      </div>
    </div>

<% end %>