<div class="row">
  <div class="twelve columns">
    <div class="panel">
      <p>
        <strong>
          Изменение пароля. Длина пароля - минимум 8 символов. После изменения пароля вы автоматически будет разлогинены.
        </strong>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <%= form_for :password, :url => update_password_path, method: :post do |f| %>

        <!-- Новый пароль -->
        <div class="row">
          <div class="three columns">
            <%= f.password_field :new_password, :placeholder => "Новый пароль", :name => 'new_password' %>
          </div>
        </div>
        <!-- Новый пароль -->

        <!-- Подтверждение нового пароля -->
        <div class="row">
          <div class="three columns">
            <%= f.password_field :confirmation_new_password, :placeholder => "Подтверждение нового пароля", :name => 'confirmation_new_password' %>
          </div>
        </div>
        <!-- Подтверждение нового пароля -->
        <div class="row">
          <div class="three columns">
            <%= f.submit "Сохранить новый пароль и выйти из системы", :class => 'button' %>
          </div>
        </div>

    <% end %>
  </div>

</div>