<div class="row">
  <div class="three columns">
    <p class="lead">Пример: 79379903835</p>
  </div>
</div>

<div class="row">
  <div class="three columns">
    <%= form_for :black_list, url: create_blacklist_path, method: :post do |f| %>

        <label>Номер телефона *</label>
        <%= f.text_field :phone, name: 'phone' %>

        <%= f.submit "Создать заблокированный номер", class: [:button, :full_width] %>
    <% end %>
  </div>
</div>