<div class="row">
  <div class="twelve columns">
    <div class="panel">
      <p>
        <strong>
          Номера из чёрного списка исключаются из любых видов рассылок (вручную, авто-рассылок, рассылок через API)
        </strong>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="one columns">
    <%= link_to 'Создать заблокированный номер', new_blacklist_path, :class => "button" %>
  </div>
</div>

<br>

<div class="row">
  <div class="twelve columns">
    <table class="twelve">
      <thead>
      <tr>
        <th>Телефон</th>
        <th>Создан</th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody>

      <% @blocked_phones.each do |black_list| %>
          <tr>
            <td><%= black_list.phone %></td>
            <td><%= black_list.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
            <td>
              <%= link_to 'Удалить', delete_blacklist_path(black_list), method: :delete, data: {confirm: "Вы уверены что хотите удалить заблокированный номер?"} %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
