<?xml version="1.0" encoding="UTF-8"?>
<log>
    <% @log.send_logs.each do |send_log|%>
        <sms id="<%= send_log.id%>" status="<%= send_log.delivery_status.name%>" phone="<%= send_log.phone%>"/>
    <% end %>
</log>
