<nav class="top-bar">
  <ul>
    <li class="name"><h1><a href="#">Admin</a></h1></li>
  </ul>

  <section>
    <ul class="left">
      <li class="divider show-for-medium-and-up"></li>
      <li><%= link_to 'Пользователи', users_path %></li>
      <li class="divider show-for-medium-and-up"></li>
      <li><%= link_to 'Имена отправителей на проверку', admin_sender_names_path %></li>
      <li class="divider show-for-medium-and-up"></li>
      <li><%= link_to 'Отчёт по начислениям', admin_report_charges_path %></li>
      <li><%= link_to 'Отчёт по платежам', admin_report_payments_path %></li>
      <li><%= link_to 'Чёрные списки', admin_black_lists_path %></li>
      <li><%= link_to 'Операторы', admin_operators_index_path %></li>
    </ul>

    <ul class="right">
      <li><span class="secondary label">Пользователь: <%= current_user.email %></span></li>
      <li>
        <%= link_to 'Выход', destroy_user_session_path, :method => :delete, :class => 'small button', :style => 'margin-left: 15px; margin-right: 15px;' %>
      </li>
    </ul>
  </section>
</nav>