<%= javascript_tag(render :partial => 'groups/js/create_group', :formats => [:js]) %>

<div id="create_group_form" class="reveal-modal [expand, xlarge, large, medium, small]">
  <a class="close-reveal-modal">&#215;</a>

  <p class="lead">Создание группы клиентов</p>

  <%= form_for :group, url: create_group_path, method: :post do |f| %>
      <%= f.text_field :name, :placeholder => "Имя новой группы клиентов" %>
      <%= f.submit "Создать новую группу", :class => 'button' %>
  <% end %>

</div>