<div class="row">
  <div class="two columns">
    <%= link_to 'Добавить группу', '#', :id => "create_group", :class => "button" %>
  </div>
</div>

<br>

<div class="row">
  <div class="twelve columns">
    <table class="twelve">
      <thead>
      <tr>
        <th>Наименование группы</th>
        <th>Дата создания</th>
        <th>Кол-во клиентов</th>
        <th>Стоимость 1 СМС<br>с цифро-буквенной подписью</th>
        <th>Стоимость 1 СМС<br>с цифровой подписью</th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody>

      <% @groups.each do |group| %>
          <tr>
            <td><%= link_to group.name, show_group_path(group) %></td>
            <td><%= I18n.l(group.created_at, :format => '%d %B %Y, %H:%M:%S') if group.created_at %></td>
            <td><%= group.clients.count %></td>
            <td><%= price_per_sms group.gold_price_per_sms %></td>
            <td><%= price_per_sms group.bronze_price_per_sms %></td>
            <td>
              <%= link_to 'Удалить', show_group_path(group), :method => 'delete', data: {confirm: "Вы уверены что хотите удалить группу?"} %>
              |
              <%= link_to 'Поздравлять всех с ДР', birthday_congratulation_group_path({id:group.id, flag:true}), method: :post %>
              |
              <%= link_to 'Сбросить поздравление всех с ДР', birthday_congratulation_group_path({id:group.id, flag:false}), method: :post %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <%= will_paginate @groups %>
  </div>
</div>

<%= render 'create_group' %>