<%= render 'sender_names/panel' %>

<div class="row">
  <div class="three columns">
    <p class="lead">Новое имя отправителя</p>
  </div>
</div>

<%= form_for :sender_name, url: create_sender_name_path, method: :post do |f| %>

    <div class="row">
      <div class="three columns">
        <%= f.text_field :value, :placeholder => "Имя отправителя", :name => :value %>
      </div>
    </div>

    <div class="row">
      <div class="three columns">
        <%= f.submit "Создать имя отправителя", class: [:button, :full_width] %>
      </div>
    </div>

<% end %>