<%= javascript_tag(render :partial => 'client/js/datepicker', :formats => [:js]) %>

<div class="row">
  <div class="three columns">
    <p class="lead">Редактирование клиента</p>
  </div>
</div>

<%= form_for :client, url: update_client_path(@client), method: :post do |f| %>

    <div class="row">
      <div class="three columns">
        <label>ФИО</label>
        <%= f.text_field :fio, :placeholder => "Фамилия Имя Отчество" %>
      </div>
    </div>

    <div class="row">
      <div class="three columns">
        <label>Телефонный номер</label>
        <%= f.text_field :phone, :placeholder => "Телефонный номер" %>
      </div>
    </div>

    <div class="row">
      <div class="three columns">
        <label>Дата рождения</label>
        <%= f.text_field :birthday, :placeholder => "День рождения" %>
      </div>
    </div>

    <div class="row">
      <div class="three columns">
        <label>Описание</label>
        <%= f.text_area :description, :placeholder => "Описание" %>
      </div>
    </div>

    <div class="row">
      <div class="three columns">
        <%= f.submit "Сохранить нового клиента", class: [:button, :full_width] %>
      </div>
    </div>

<% end %>