<div class="row">
  <div class="twelve columns">
    <table class="twelve">
      <thead>
      <tr>
        <th>Оператор</th>
        <th class="three">Текущая цена за 1 SMS (руб.)</th>
      </tr>
      </thead>
      <tbody>

      <% @operators.each do |operator| %>
          <tr>
            <td><%= operator.name %></td>
            <td><%= link_to round_currency(operator.price_per_sms), admin_operator_tariffs_path(operator) %></td>
          </tr>
      <% end %>

      </tbody>
    </table>
  </div>
</div>