<div id="create_payment_form" class="reveal-modal [expand, xlarge, large, medium, small]">
  <a class="close-reveal-modal">&#215;</a>

  <p class="lead">Создание платежа</p>

  <%= form_for :payment, :url => 'create_payment' do |f| %>
    <%= f.text_field :amount, :placeholder => "Сумма" %>
    <%= f.submit "Создать платёж", :class => 'button' %>
  <% end %>

</div>