<%= javascript_tag(render partial: 'payment/js/datepicker', formats: [:js]) %>
<%= javascript_tag(render partial: 'payment/js/payment', formats: [:js]) %>

<div class="row">
  <div class="two columns">

    <div class="input-append date">
      <input class="span2" size="16" type="text" value="<%= @begin_date %>" id="begin_date">
    </div>
  </div>

  <div class="two columns">
    <div class="input-append date">
      <input class="span2" size="16" type="text" value="<%= @end_date %>" id="end_date">
    </div>
  </div>

  <div class="eight columns">
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <table class="twelve">
      <thead>
      <tr>
        <th>ID</th>
        <th>Сумма</th>
        <th>Дата поступления</th>
        <th>Откуда поступил</th>
        <th>Действие</th>
      </tr>
      </thead>
      <tbody>

      <% @payments.each do |payment| %>
        <tr>
          <td><%= payment.id %></td>
          <td><%= number_to_currency(payment.amount) %></td>
          <td><%= payment.approved? ? I18n.l(payment.approved_at, :format => '%d %B %Y, %H:%M:%S') : 'не оплачено' %></td>
          <td><%= payment.service.name %></td>
          <td>
            <% unless payment.approved? %>
              <%= payment_service_for payment.id, Rails.configuration.robokassa[:login],
                                      :amount =>  payment.amount,
                                      :service => :robokassa,
                                      :secret => Rails.configuration.robokassa[:secret] do |s| %>
                <%= submit_tag "Оплатить", :class => 'button' %>
              <% end %>

              <%= link_to 'Удалить', payment_path(payment), :method => 'delete', :class => 'alert button', data: {confirm: "Вы уверены что хотите удалить платёж?"} %>
          <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <%= link_to 'Создать платёж', '#', :class => 'button', :id => "create_payment" %>
  </div>
</div>

<%= render 'create_payment_form' %>