<div class="row">
  <div class="twelve columns">
    <p class="lead">Создание нового пользователя(поля отмеченные символом * обязательны для заполнения)</p>
  </div>
</div>

<%= form_for :user, :url => create_user_path do |f| %>

    <div class="row">

      <div class="six columns">

        <label>Email(логин) *</label>
        <%= f.text_field :email %>

        <label>Пароль *</label>
        <%= f.password_field :password %>

        <label>Подтверждение пароля *</label>
        <%= f.password_field :password_confirmation %>

        <label>Фамилия Имя Отчество</label>
        <%= f.text_field :fio %>

        <label>Примечание</label>
        <%= f.text_area :description %>

      </div>

      <div class="six columns">
        <label>Тариф *</label>
        <%= f.select :tariff_id, user_tariffs %>

        <br>
        <br>

        <label>Тип *</label>
        <%= f.select :type_id, user_types.map { |s| [s[:name], s[:id]] } %>

        <br>
        <br>

        <div class="row">
          <div class="six columns">
            <label>Начисление для "бронзового" канала *</label>
            <%= f.select :type, user_charge_types.map { |s| [s[:name], s[:id]] }, {}, name: 'user[charge_type_id]' %>
          </div>

          <div class="six columns">
            <label>Начисление для "золотого" канала *</label>
            <%= f.select :type, [ChargeType.by_sent].map { |s| [s[:name], s[:id]] }, {}, name: 'user[gold_charge_type_id]' %>
          </div>
        </div>

        <br>
        <label>Статус *</label>
        <%= f.select :status_id, user_statuses.map { |s| [s[:name], s[:id]] } %>

        <br>
        <br>

        <label>Режим оплаты *</label>
        <%= f.select :payment_type_id, user_payment_types.map { |s| [s[:name], s[:id]] } %>

        <br>
        <br>

        <label>Рассылка ночью *</label>
        <%= f.select :permit_night_delivery, user_permit_night_delivery.map { |s| [s[:name], s[:id]] } %>

        <br>
        <br>

        <div class="row">
          <div class="six columns">
            <label>DEF имя отправителя *</label>
            <%= f.select :permit_def_sender_name, user_permit_def_sender_name.map { |s| [s[:name], s[:id]] } %>
          </div>

          <div class="six columns">
            <label>Alpha имя отправителя *</label>
            <%= f.select :permit_alpha_sender_name, user_permit_alpha_sender_name.map { |s| [s[:name], s[:id]] } %>
          </div>
        </div>

        <br>

        <label>Скидка(в процентах) *</label>
        <%= f.text_field :discount, :value => 0 %>

        <label>Запрет рассылки на Мегафон *</label>
        <%= f.select :reject_to_megafon, user_reject_to_megafon.map { |s| [s[:name], s[:id]] } %>

        <br>
        <br>

        <label>Канал отправки трафика на Мегафона с альфа подписью *</label>
        <%= f.select :alpha_megafon_channel, user_alpha_megafon_channel.map { |s| [s[:name], s[:id]] }, {}, name: 'user[alpha_megafon_channel_id]' %>

        <br>
        <br>

        <label>Запрет рассылки на Смартс через золотой канал *</label>
        <%= f.select :reject_to_smarts_via_gold_channel, user_reject_to_smarts_via_gold_channel.map { |s| [s[:name], s[:id]] } %>

        <br>
        <br>

        <label>Запрет рассылки на МТС *</label>
        <%= f.select :reject_to_mts, user_reject_to_mts.map { |s| [s[:name], s[:id]] } %>

      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <%= f.submit "Создать", :class => 'button' %>
      </div>
    </div>


<% end %>


