<div class="row">
  <div class="twelve columns">
    <p class="lead">Редактирование пользователя(поля отмеченные символом * обязательны для заполнения)</p>
  </div>
</div>

<%= form_for :user, url: update_user_path(@user) do |f| %>

    <div class="row">

      <div class="six columns">

        <label>Email(логин) *</label>
        <%= f.text_field :email, value: @user.email %>

        <label>Фамилия Имя Отчество</label>
        <%= f.text_field :fio, value: @user.fio %>

        <label>Примечание</label>
        <%= f.text_area :description, value: @user.description %>

      </div>

      <div class="six columns">
        <label>Тариф только для "бронзового" канала</label>
        <%= f.text_field :tariff, value: "#{@user.tariff.name}. Стоимость за СМС: #{number_to_currency(@user.tariff.price_per_sms)}", readonly: true %>

        <label>Тип *</label>
        <%= f.select :type, user_types.map { |s| [s[:name], s[:id]] }, {selected: @user.type.id}, name: 'user[type_id]' %>

        <br>
        <br>

        <div class="row">
          <div class="six columns">
            <label>Начисление для "бронзового" канала *</label>
            <%= f.select :type, user_charge_types.map { |s| [s[:name], s[:id]] }, {selected: @user.charge_type.id}, name: 'user[charge_type_id]' %>
          </div>

          <div class="six columns">
            <label>Начисление для "золотого" канала *</label>
            <%= f.select :type, [ChargeType.by_sent].map { |s| [s[:name], s[:id]] }, {}, name: 'user[gold_charge_type_id]' %>
          </div>
        </div>

        <br>

        <label>Статус *</label>
        <%= f.select :status, user_statuses.map { |s| [s[:name], s[:id]] }, {selected: @user.status.id}, name: 'user[status_id]' %>

        <br>
        <br>

        <label>Режим оплаты *</label>
        <%= f.select :payment_type, user_payment_types.map { |s| [s[:name], s[:id]] }, {selected: @user.payment_type.id}, name: 'user[payment_type_id]' %>

        <br>
        <br>

        <label>Рассылка ночью *</label>
        <%= f.select :permit_night_delivery, user_permit_night_delivery.map { |s| [s[:name], s[:id]] }, {selected: user_permit_night_delivery_for_select(@user.permit_night_delivery)}, name: 'user[permit_night_delivery]' %>

        <br>
        <br>

        <div class="row">
          <div class="six columns">
            <label>DEF имя отправителя *</label>
            <%= f.select :permit_def_sender_name, user_permit_def_sender_name.map { |s| [s[:name], s[:id]] }, {selected: user_permit_def_sender_name_for_select(@user.permit_def_sender_name)}, name: 'user[permit_def_sender_name]' %>
          </div>

          <div class="six columns">
            <label>Alpha имя отправителя *</label>
            <%= f.select :permit_alpha_sender_name, user_permit_alpha_sender_name.map { |s| [s[:name], s[:id]] }, {selected: user_permit_alpha_sender_name_for_select(@user.permit_alpha_sender_name)}, name: 'user[permit_alpha_sender_name]' %>
          </div>
        </div>

        <br>

        <label>Скидка * (действует только на "бронзовый" канал) - в процентах</label>
        <%= f.text_field :discount, value: @user.discount %>

        <label>Запрет рассылки на Мегафон *</label>
        <%= f.select :reject_to_megafon, user_reject_to_megafon.map { |s| [s[:name], s[:id]] }, {selected: user_reject_to_megafon_for_select(@user.reject_to_megafon)}, name: 'user[reject_to_megafon]' %>

        <br>
        <br>

        <label>Канал отправки трафика на Мегафона с альфа подписью *</label>
        <%= f.select :alpha_megafon_channel, user_alpha_megafon_channel.map { |s| [s[:name], s[:id]] }, {selected: user_alpha_megafon_channel_for_select(@user.alpha_megafon_channel)}, name: 'user[alpha_megafon_channel_id]' %>

        <br>
        <br>

        <label>Запрет рассылки на Смартс через золотой канал *</label>
        <%= f.select :reject_to_smarts_via_gold_channel, user_reject_to_smarts_via_gold_channel.map { |s| [s[:name], s[:id]] }, {selected: user_reject_to_smarts_via_gold_channel_for_select(@user.reject_to_smarts_via_gold_channel)}, name: 'user[reject_to_smarts_via_gold_channel]' %>

        <br>
        <br>

        <label>Запрет рассылки на МТС *</label>
        <%= f.select :reject_to_mts, user_reject_to_mts.map { |s| [s[:name], s[:id]] }, {selected: user_reject_to_mts_for_select(@user.reject_to_mts)}, name: 'user[reject_to_mts]' %>

      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <%= f.submit "Сохранить", :class => 'button' %>
      </div>
    </div>


<% end %>


