<div class="row">
  <div class="four columns"></div>
  <div class="owe columns offset-by-seven">
    <%= link_to 'Создать платёж', new_payments_path(@user), :class => "button" %>
  </div>
</div>

<br>

<div class="row">
  <div class="twelve columns">
    <table class="twelve">
      <thead>
      <tr>
        <th>ID</th>
        <th>Сумма</th>
        <th>Дата поступления</th>
        <th>Статус платежа</th>
        <th>Дата одобрения/отклонения</th>
        <th>Откуда поступил</th>
        <th>Действие</th>
      </tr>
      </thead>
      <tbody>

      <% @payments.each do |payment| %>
          <tr>
            <td><%= payment.id %></td>
            <td><%= number_to_currency(payment.amount) %></td>
            <td><%= I18n.l(payment.date, :format => '%d %B %Y, %H:%M:%S') %></td>

            <td>
              <% if payment.new? %>
                  <span class="label"><%= 'новый' %></span>
              <% end %>

              <% if payment.approved? %>
                  <span class="success label"><%= 'одобрен' %></span>
              <% end %>

              <% if payment.failed? %>
                  <span class="alert label"><%= 'отклонён' %></span>
              <% end %>
            </td>

            <td>
              <% if payment.approved? %>
                  <%= I18n.l(payment.approved_at, :format => '%d %B %Y, %H:%M:%S') %>
              <% end %>

              <% if payment.failed? %>
                  <%= I18n.l(payment.failed_at, :format => '%d %B %Y, %H:%M:%S') %>
              <% end %>
            </td>

            <td><%= payment.service.name %></td>
            <td>

              <% if payment.approved? %>
                  <%= link_to 'Отклонить', refuse_payments_path(payment), :method => 'post', data: {confirm: "Вы уверены что хотите отклонить платёж на сумму %s?" % number_to_currency(payment.amount)} %>
              <% end %>

              <% if payment.new? %>
                  <%= link_to 'Отклонить', refuse_payments_path(payment), :method => 'post', data: {confirm: "Вы уверены что хотите отклонить платёж на сумму %s?" % number_to_currency(payment.amount)} %>
                  <%= link_to 'Одобрить', approve_payments_path(payment), :method => 'post', data: {confirm: "Вы уверены что хотите одобрить платёж на сумму %s?" % number_to_currency(payment.amount)} %>
              <% end %>

              <%= link_to 'Удалить', delete_payments_path(payment), :method => 'delete', data: {confirm: "Вы уверены что хотите удалить платёж на сумму %s?" % number_to_currency(payment.amount)} %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
