<div class="row">
  <div class="six columns">
    <p class="lead">Создание платежа</p>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <%= form_for :payment, :url => create_payments_path(@user) do |f| %>

        <label>Сумма *</label>
        <%= f.text_field :amount, :placeholder => "Сумма" %>

        <label>Откуда поступил *</label>
        <%= f.select :service_id, PaymentService.available_for_admin.map { |s| [s[:name], s[:id]] } %>

        <br>
        <br>

        <%= f.submit "Создать платёж", :class => 'button' %>
    <% end %>
  </div>
</div>