<div class="row">
  <div class="twelve columns">
    <div class="panel panel-notice">
      <p>
        Тарифы на пропуск трафика через "золотой" канал.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <table class="twelve">
      <thead>
      <tr>
        <th>Оператор</th>
        <th class="three">Текущая цена за 1 SMS (руб.)</th>
      </tr>
      </thead>
      <tbody>

      <% @operators.each do |operator| %>
          <tr>
            <td><%= operator.name %></td>
            <td><%= round_currency(operator.price_per_sms) %></td>
          </tr>
      <% end %>

      </tbody>
    </table>
  </div>
</div>