<%= javascript_tag(render :partial => 'autodelivery/js/datepicker', :formats => [:js]) %>

<div class="row">
  <div class="twelve columns">
    <div class="panel">
      <p>
        <strong>
          Отчёт по рассылкам
        </strong>
      </p>

      <p>
        Выберите начальную и конечную дату для формирования отчёта. После окончания формирования данных - отчёт придёт
        на контактную почту.
    </div>
  </div>
</div>

<%= form_for :report_by_date, url: generate_report_by_date_path, method: :post do |f| %>

    <div class="row">

      <div class="two columns">
        <label>Дата начала</label>
        <%= f.text_field :start_date, :placeholder => "Дата начала", :datepicker => 'true', name: 'start_date' %>
      </div>

      <div class="two columns">
        <label>Дата окончания</label>
        <%= f.text_field :stop_date, :placeholder => "Дата окончания", :datepicker => 'true', name: 'end_date' %>
      </div>

      <div class="eight columns">
      </div>

    </div>

    <div class="row">
      <div class="twelve columns">
        <%= f.submit "Сформировать отчёт и выслать на почту", :class => 'button' %>
      </div>
    </div>

<% end %>