<div class="row">
  <div class="twelve columns">
    <div class="panel">
      <p>После редактирования имена отправителей проходят ручную проверку. Будьте терпеливы.</p>

      <% if current_user.permit_alpha_sender_name? and current_user.permit_def_sender_name? %>
          <p>
            <strong>
              Ограничения: только английские буквы и/или цифры, а также символы "-", "+", "_", " ", ".". Длина - до 11
              символов
              включительно. Русские символы не поддерживаются.
              <br>
              Если это федеральный номер(длина = 11 символов) - то он должен начинаться только с 79.
              <br>
              Пример корректных имён: 79379903835, BRW-Mebel, Ruslan, ANGELALUX.
              <br>
              Пример некорретных имён: 89379903835, Вася, 88462241023, 8(937)990-38-35, Одежда из Белоруссии.
            </strong>
          </p>
      <% end %>

      <% if not current_user.permit_alpha_sender_name? and current_user.permit_def_sender_name? %>
          <p>
            <strong>
              Ограничения: только телефонный номер в федеральном формате. Длина - строго 11
              символов. Должен начинаться только с 79.
              <br>
              Пример корректных имён: 79379903835.
              <br>
              Пример некорретных имён: 89379903835, BRW-Mebel, Ruslan, ANGELALUX, Вася, 88462241023, 8(937)990-38-35,
              Одежда из Белоруссии.
            </strong>
          </p>
      <% end %>

      <% if current_user.permit_alpha_sender_name? and not current_user.permit_def_sender_name? %>
          <p>
            <strong>
              Ограничения: только английские буквы и/или цифры, а также символы "-", "+", "_", " ", ".". Длина - до 11
              символов
              включительно. Русские символы не поддерживаются. Номера в федеральном формате не поддерживаются.
              <br>
              <br>
              Пример корректных имён: BRW-Mebel, Ruslan, ANGELALUX.
              <br>
              Пример некорретных имён: 79379903835, 89379903835, Вася, 88462241023, 8(937)990-38-35, Одежда из Белоруссии.
            </strong>
          </p>
      <% end %>

      <% if not current_user.permit_alpha_sender_name? and not current_user.permit_def_sender_name? %>
          <p>
            <strong>
              Для вас не активирована рассылка ни через один канал.
              Просьба связаться со службой техподдержки. Любые имена отправителя не пройдут проверку.
            </strong>
          </p>
      <% end %>

    </div>
  </div>
</div>