<%= render 'panel' %>

<div class="row">
  <div class="twelve columns">
    <%= link_to 'Добавить имя отправителя', new_sender_name_path, class: :button %>
  </div>
</div>

<br>

<div class="row">
  <div class="twelve columns">
    <table class="twelve">
      <thead>
      <tr>
        <th>Имя отправителя</th>
        <th>Статус</th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody>

      <% @sender_names.each do |sender_name| %>
          <tr>
            <td><%= sender_name.value %></td>

            <td>
              <% if not SenderName.verified?(sender_name.value, current_user) %>
                <span class="alert label">
                <%= sender_name.status.name %>
              <% else %>
                  <% if sender_name.active? %>
                    <span class="label">Используется по умолчанию
                  <% else %>
                      <% if sender_name.accepted? %>
                        <span class="success label">
                        <%= sender_name.status.name %>
                      <% end %>

                      <% if sender_name.moderating? %>
                        <span class="secondary label">
                        <%= sender_name.status.name %>
                      <% end %>

                      <% if sender_name.rejected? %>
                        <span class="alert label">
                        <%= sender_name.status.name %>
                      <% end %>
                  <% end %>
              <% end %>
              </span>
            </td>

            <td>
              <% if not sender_name.active? and sender_name.accepted? %>
                  <%= link_to 'Использовать по умолчанию', use_sender_name_path(sender_name) %>
                  |
              <% else %>
                  <%= link_to 'Использовать по умолчанию', '#', style: 'visibility: hidden;' %>
              <% end %>

              <%= link_to 'Удалить', delete_sender_name_path(sender_name), method: :delete, data: {confirm: "Вы уверены что хотите удалить имя отправителя?"} %>
            </td>
          </tr>
      <% end %>

      </tbody>
    </table>
  </div>
</div>