<div class="row">
  <div class="twelve columns">
    <div class="panel">
      <p>
        <strong>
          "Запрет ночных рассылок"
        </strong>
      </p>

      <p>
        При активации данного запрета рассылки будут происходить только в дневное время(с 9:00 утра до 20:00 вечера).
        <br>
        Ночные рассылки(созданные ночью, либо созданные днём но после запуска попавшие в ночной период) будут автоматически перенесены на утреннее время.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <% if current_user.permit_night_delivery? %>
        Текущий статус: Деактивирован => <%= link_to 'Активировать', update_night_delivery_path(permission: 'activate') %>
    <% else %>
        Текущий статус: Активирован => <%= link_to 'Деактивировать', update_night_delivery_path(permission: 'deactivate') %>
    <% end %>
  </div>
</div>