<%= stylesheet_link_tag "autodelivery" %>

<div id="create_delivery_form" class="reveal-modal [expand, xlarge, large, medium, small]">
  <a class="close-reveal-modal">&#215;</a>

  <p class="lead">Создание авто-рассылки</p>

  <%= form_for :autodelivery, url: create_autodelivery_path, method: :post do |f| %>

    <%= f.text_field :name, :placeholder => "Наименование авто-рассылки" %>
    <%= f.text_field :start_date, :placeholder => "Дата начала", :datepicker => 'true', :value => Date.today %>
    <%= f.text_field :stop_date, :placeholder => "Дата окончания", :datepicker => 'true', :value => Date.today %>
    <%= f.text_area :description, :placeholder => "Описание" %>

    <%= f.submit "Создать", :class => 'button' %>
  <% end %>

</div>