<%= javascript_tag(render :partial => 'autodelivery/js/delivery', :formats => [:js]) %>
<%= javascript_tag(render :partial => 'autodelivery/js/datepicker', :formats => [:js]) %>


<div class="row">
  <div class="twelve columns">
    <%= link_to 'Добавить авто-рассылку', '#', :id => "create_delivery", :class => "button" %>
  </div>
</div>

<br>

<div class="row">

  <div class="twelve columns">
    <table class="twelve">
      <thead>
      <tr>
        <th>Имя</th>
        <th>Статус</th>
        <th>Число получателей</th>
        <th>Имя отправителя</th>
        <th>Дата начала</th>
        <th>Дата окончания</th>
        <th colspan="4">Действия</th>
      </tr>
      </thead>
      <tbody>

      <% @deliveries.each do |delivery| %>
          <tr>
            <td><%= delivery.name %></td>

            <td><%= autodelivery_status(delivery) %></td>
            <td><%= delivery.receivers_count %></td>
            <td><%= delivery.sender_name_value %></td>
            <td><%= delivery.start_date.strftime('%Y-%m-%d') if delivery.start_date.present? %></td>
            <td><%= delivery.stop_date.present? ? delivery.stop_date.strftime('%Y-%m-%d') : 'бессрочно' %></td>
            <td>
              <%= link_to 'Настройка', show_autodelivery_path(delivery) %>
            </td>

            <td>

              <% if delivery.valid_for_activation? and not delivery.active? %>
                  <%= link_to 'Активировать', activate_autodelivery_path(delivery) %>
              <% end %>

              <% if delivery.active? %>
                  <%= link_to 'Деактивировать', deactivate_autodelivery_path(delivery) %>
              <% end %>

            </td>

            <td>

              <% if delivery.valid_for_run? %>
                  <%= link_to 'Разовый запуск', run_autodelivery_path(delivery), data: {confirm: "Вы уверены что хотите разово запустить вручную авто-рассылку?"} %>
              <% end %>

            </td>

            <td>
              <%= link_to 'Удалить', delete_autodelivery_path(delivery), method: :delete, data: {confirm: "Вы уверены что хотите удалить рассылку?"} %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <%= will_paginate @deliveries %>
  </div>
</div>

<%= render 'create_delivery' %>

