<%= stylesheet_link_tag "sms" %>
<%= javascript_include_tag "chosen" %>

<%= javascript_tag(render :partial => 'autodelivery/js/datepicker', :formats => [:js]) %>
<%= javascript_tag(render :partial => 'autodelivery/js/period', :formats => [:js]) %>
<%= javascript_tag(render :partial => 'autodelivery/js/count', :formats => [:js]) %>

<%= form_for :autodelivery, url: update_autodelivery_path(@autodelivery), method: :post do |f| %>

    <%= f.hidden_field :autodelivery_id, :value => @autodelivery.id %>

    <div class="row">
      <div class="twelve columns">
        <fieldset>
          <legend>Общие настройки</legend>

          <div class="row">
            <div class="three columns">
              <label>Имя авто-рассылки</label>
              <%= f.text_field :name, :placeholder => "Имя авторассылки", :value => @autodelivery.name %>
            </div>
          </div>

          <div class="row">
            <div class="three columns">
              <label>Дата начала</label>
              <%= f.text_field :start_date, :placeholder => "Дата начала", :value => @autodelivery.start_date, :datepicker => 'true' %>
            </div>
          </div>

          <div class="row">
            <div class="three columns">
              <label>Дата окончания</label>
              <%= f.text_field :stop_date, :placeholder => "Дата окончания", :value => @autodelivery.stop_date, :datepicker => 'true' %>
            </div>
          </div>

          <!-- Имя отправителя -->
          <div class="row">
            <div class="three columns">
              <label>Имя отправителя</label>
              <%= f.select :sender_name_value, sender_name_values, :selected => @autodelivery.sender_name_value %>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="three columns">
              <label>Периодичность</label>
              <%= f.select :period, AutoDeliveryPeriod.all.map { |p| [p.name, p.period] }, :selected => @autodelivery.period.period %>
            </div>

            <div class="three columns" id="weekday" style="display:none;">
              <label>День недели для отправки СМС</label>
              <%= f.select :week_day_id, Period.weekdays.map { |t| [t[:weekday], t[:index]] }, :selected => @autodelivery.week_day_id %>
            </div>

            <div class="three columns" id="hour" style="display:none;">
              <label>Час для отправки СМС(время по Москве)</label>
              <%= f.select :hour, Period.hours.map { |t| [t[:hour], t[:index]] }, :selected => @autodelivery.hour %>
            </div>

            <div class="three columns" id="minute" style="display:none;">
              <label>Минута для отправки СМС</label>
              <%= f.select :minute, Period.minutes.map { |t| [t[:minute], t[:index]] }, :selected => @autodelivery.minute %>
            </div>

            <div class="three columns"></div>
          </div>

        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <fieldset>
          <legend>Настройки сообщений</legend>

          <label>Группы получателей авто-рассылки</label>

          <select class="chzn-select" data-placeholder="Выберите получателей рассылки" id="client_ids" multiple="multiple" name="autodelivery[client_ids][]">
            <% current_user.groups_with_clients.each do |group| %>
                <option value="<%= group.group_for_select.last %>" <%= selected?(@autodelivery, group) %>><%= group.group_for_select.first %></option>
            <% end %>
          </select>

          <!-- Шаблон -->
          <label style="margin-top: 12px;">Шаблон сообщения</label>
          <%= f.select :template_id, current_user.templates.collect { |t| [t.name, t.id] }, :include_blank => 'Не использовать шаблон' %>
          <!-- Шаблон -->

          <label style="margin-top: 12px;">Текст сообщения(имеет приоритет над шаблоном)</label>
          <%= f.text_area :content, :placeholder => "Текст сообщения", :style => 'height: 150px;', :value => @autodelivery.content, :id => 'sms_content' %>
          <label style="margin-top: 12px;" id="sms_count_label">
            Длина SMS сообщения: <%= @autodelivery.content ? @autodelivery.content.size : 0 %> символов. Количество
            СМС: <%= Message.sms_count(@autodelivery.content) %> шт.
          </label>
        </fieldset>

      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <%= f.submit "Сохранить авто-рассылку", :class => 'button' %>
      </div>
    </div>

<% end %>
