<div class="row">
  <div class="four columns offset-by-four">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <fieldset>

        <legend>Авторизация для сервиса SMS рассылок</legend>

        <div><%= f.label :email %><br />
          <%= f.email_field :email, :autofocus => true, :placeholder => 'введите email' %></div>

        <div><%= f.label :password %><br />
          <%= f.password_field :password, :placeholder => 'введите пароль' %></div>

      </fieldset>

      <div><%= f.submit "Войти", :class => 'button'%></div>
    <% end %>

  </div>

</div>