<div id="update_group_form" class="reveal-modal [expand, xlarge, large, medium, small]">
  <a class="close-reveal-modal">&#215;</a>

  <p class="lead">Редактирование группы</p>

  <%= form_for :group, url: update_group_path(@group), method: :post do |f| %>
    <%= f.hidden_field :id %>
    <%= f.text_field :name, :placeholder => "Имя группы"%>
    <%= f.submit "Сохранить", :class => 'button' %>
  <% end %>

</div>