<%= javascript_tag(render :partial => 'group/js/upload', :formats => [:js]) %>


<div class="row">
  <div class="twelve columns">
    <div class="panel">
      <h5>При загрузке из файла используйте форматы XLS, XLSX или CSV</h5>
      <p>
        Первый столбец считается номером телефона. Поле - обязательно!<br>
        Второй столбец считается именем клиента. Поле - необязательно.<br>
        Третий столбец считается датой рождения клиента. Пример: 1980-02-28(год-месяц-день) или 28.02.1980(день.месяц.год). Поле - необязательно.
      </p>
      <p>Разделение столбцов через символ ; (точка с запятой) для CSV<br>
      <p>Кодировка файла: windows-1251</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <%= form_tag(upload_group_path(@group), :multipart => true, :class => "custom", :id => 'form') do %>
      <%= file_field_tag 'clients_file', :id => 'file_field' %>
    <% end %>
  </div>

</div>

<div class="row">
  <div class="twelve columns">
    <%= link_to "Загрузить файл в группу <#{@group.name}>", '#', :class => 'button', :id => "upload_file_button" %>
  </div>
</div>
