<%= javascript_tag(render :partial => 'group/js/datepicker' , :formats => [:js]) %>
<%= javascript_tag(render :partial => 'group/js/birthday' , :formats => [:js]) %>
<%= javascript_tag(render :partial => 'group/js/search' , :formats => [:js]) %>
<div class="row">
  <div class="six columns">
    <div class="panel">
      <h5>Группа клиентов: "<%= @group.name %>"</h5>

      <p>
        Всего клиентов в группе: <%= @group.clients.size %>
      </p>
    </div>
  </div>

  <div class="four columns">
    <div class="row collapse" id="search-button">
      <div class="eleven mobile-three columns">
        <input type="text" placeholder="ФИО или номер"/>
      </div>
      <div class="one mobile-one columns">
        <div class = 'postfix button'>
          <%=fa_icon('search')%>
        </div>
      </div>
    </div>
  </div>

  <div class="two columns">
    <div href="#" class="button split dropdown">
      <%= link_to 'Добавить клиента', new_client_path({group_id: @group}) %>
      <span></span>
      <ul>
        <li><%= link_to 'Загрузить из файла', show_upload_group_path(@group) %></li>
        <li><%= link_to 'Редактировать группу', '#', :tag => "update_group_button", :group_id => @group.id, :group_name => @group.name %></li>
        <li class="divider"></li>
        <li><%= link_to 'Удалить группу', delete_group_path(@group), method: :delete, data: {confirm: "Вы уверены что хотите удалить группу?"} %></li>
      </ul>
    </div>

  </div>
</div>

<br>

<div class="row">

  <div class="twelve columns">
    <table class="twelve">
      <thead>
      <tr>
        <th>Номер телефона <%= sorting 'phone'%></th>
        <th>ФИО клиента <%= sorting 'fio'%></th>
        <th>День рождения <%= sorting 'birthday'%></th>
        <th>Поздравлять с днём рождения <%= sorting 'birthday_congratulation'%></th>
        <th>Примечание <%= sorting 'description'%></th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody>

      <% @clients.each do |client| %>
        <tr>
          <td><%= number_to_phone(client.phone, :area_code => true) %></td>

          <td><%= client.fio %></td>

          <% if client.birthday.present? %>
            <td><%= client.birthday.strftime('%Y-%m-%d') %></td>
            <td><%= check_box_tag "client_birthday_congratulation", 1, client.birthday_congratulation?, :client_id => client.id %></td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>

          <td><%= client.description %></td>
          <td>
            <%= link_to 'Редактировать', show_client_path(client) %>
            |
            <%= link_to 'Удалить', delete_client_path(client), method: :delete, data: {confirm: "Вы уверены что хотите удалить клиента?"} %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <%= will_paginate @clients %>
  </div>
</div>

<%= render 'update_group' %>