<div class="row">
  <div class="eleven columns">
    <div class="panel">
      <p>
        Если ни одна тарифная запись не создана - то действует тариф "<%= Tariff.default.name %>" по
        цене: <%= number_to_currency(Tariff.default.price_per_sms) %> за 1 SMS
      </p>
    </div>
  </div>
  <div class="one columns">
    <%= link_to 'Создать тарифную запись', new_tariffs_path(@user), :class => "button" %>
  </div>
</div>

<br>

<div class="row">
  <div class="twelve columns">
    <table class="twelve">
      <thead>
      <tr>
        <th>Дата начала действия</th>
        <th>Дата окончания действия</th>
        <th>Наименование тарифа</th>
        <th>Стоимость за 1 SMS</th>
        <th>Действие</th>
      </tr>
      </thead>
      <tbody>

      <% @user_tariffs.each do |user_tariff| %>
          <tr>
            <td><%= I18n.l(user_tariff.begin_date, :format => '%d %B %Y') %></td>
            <td><%= I18n.l(user_tariff.end_date, :format => '%d %B %Y') if user_tariff.end_date %></td>
            <td><%= user_tariff.tariff.name %></td>
            <td><%= number_to_currency(user_tariff.tariff.price_per_sms) %></td>

            <td>
              <%= link_to 'Удалить', delete_tariffs_path(user_tariff), method: :delete, data: {confirm: "Вы уверены что хотите удалить тарифную запись?"} %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
