<%= javascript_tag(render :partial => 'admin/js/datepicker', :formats => [:js]) %>

<div class="row">
  <div class="six columns">
    <p class="lead">Создание тарифной записи</p>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <%= form_for :tariff, :url => create_tariffs_path(@user) do |f| %>

        <label>Тариф *</label>
        <%= f.select :id, Tariff.all.map { |t| ["#{t.name} (#{number_to_currency(t.price_per_sms)})", t.id] } %>

        <br>
        <br>

        <label>Дата начала действия тарифа *</label>
        <%= f.text_field :begin_date, id: 'begin_date' %>

        <label>Дата окончания действия тарифа(может быть пустым)</label>
        <%= f.text_field :end_date, id: 'end_date' %>

        <%= f.submit "Создать тарифную запись", :class => 'button' %>
    <% end %>
  </div>
</div>