<div class = 'twelve columns'>
  <div class = 'panel api-info'>
    Дата последней редакции: 2014-11-03 <br/>
    Версия API: 0.9<br/>
    Email техподдержки: support@youct.ru<br/>
  </div>
  <div class = 'panel api-info'>
    Текущие ограничения:
    <br>
    <br>
    <ul>
      <li>на текущий момент Web-сервис отдаёт данные только в формате XML</li>
      <li>поддерживаются только GET-запросы</li>
      <li>кодировка UTF-8</li>
    </ul>
  </div>

  <div class = 'panel api-info'>
    <h3>Отправка смс</h3>
    <div class = 'url'>url => /api/send.xml</div>
    <br>
    Обязательные параметры:
    <ul>
      <li>phones[] -> телефоны получателей в виде массива(формат номера 79xxxxxxxxx - например 79379903835). <br/>
        <span class="attention">Внимание</span>: максимальное число телефонов получателей = 10. Если число получателей превышает это число - нужно сделать несколько запросов</li>
      <li>
        text -> текст сообщения(ограничения на длину = до 69 нелатинских символов - при превышении этой длины сообщение будет
        делиться на большее число частей).<br/>
        Для отправки символа перевода строки в тексте используйте \r\n. Например: test1\r\ntest2 придёт в виде СМС:<br/>
        test1<br/>
        test2
      </li>
      <li>login -> логин пользователя в системе</li>
      <li>password -> пароль пользователя в системе(в открытом виде)</li>
      <li>sender_name -> подпись отправителя SMS. Нужно зарегистрировать новый sender_name в личном кабинете пользователя -
        <%= link_to Rails.configuration.site_name, root_path %>.
      </li>
    </ul>
    Опциональных параметров нет.<br/>
    <h3>Пример запроса</h3>
    <div class ='example'>http://<%= Rails.configuration.site_name %>/api/send.xml?phones[]=79379903835&phones[]=79879537786&text=test&login=sm00th1980@mail.ru&password=my_password&sender_name=79379903835</div>

    <br>

    В ответ на данный запрос приходит ответ с ID запроса на рассылку. По данному ID можно в дальнейшем проверить статус доставки всех
    СМС входящих в этот запрос.
    <h3>Пример ответа при успешном запросе</h3>
    <div class ='example'><%='<?xml version="1.0" encoding="UTF-8"?>
<sms>
  <id>317</id>
</sms>
'%></div>
    <h3>Пример ответа при некорректном запросе</h3>
    <div class ='example'><%='<?xml version="1.0" encoding="UTF-8"?>
<sms>
<error>
Все указанные номера в параметры phones не корректны. Допустимый формат: 79xxxxxxxxx
</error>
</sms>'%></div>

    <h3>Возможные типы ошибок:</h3>
    <ul>
      <li>Все указанные номера в параметры phones не корректны. Допустимый формат: 79xxxxxxxxx</li>
      <li>Текущий баланс не позволяет отправлять СМС.</li>
      <li>Имя отправителя не корректно.</li>
      <li>SMS рассылка не возможна. Не заполнен текст сообщений.</li>
      <li>Число указанных номеров превышает максимально допустимое: 10.</li>
    </ul>
    <span class="notice">При ошибочном запросе - рассылка не производится!</span>
  </div>

  <div class = 'panel api-info'>
    <h3>Получение статусов доставки SMS</h3>
    <div class = 'url'>url => /api/report.xml</div>
    <br>
    Обязательные параметры:
    <ul>
      <li>id -> ID запроса</li>
      <li>login -> логин пользователя в системе</li>
      <li>password -> пароль пользователя в системе(в открытом виде)</li>
    </ul>
    <h3>Пример запроса:</h3>
    <div class ='example'>http://<%= Rails.configuration.site_name %>/api/report.xml?id=317&login=sm00th1980@mail.ru&password=my_password</div>
    <h3>Пример ответа:</h3>
    <div class ='example'><%='<?xml version="1.0" encoding="UTF-8"?>
<log>
<sms id="5641" status="Доставлено" phone="79379903835"/>
<sms id="5642" status="Статус доставки неизвестен" phone="79379903836"/>
</log>'%></div>
    <h3>Статусы:</h3>
    <ul>
      <li>Доставлено</li>
      <li>
        Статус доставки неизвестен<br/>
        <span class="comment">Комментарий</span>: уведомление о доставке пока или вообще не пришло от СМС центра
      </li>
      <li>
        При доставке возникла ошибка<br/>
        <span class="comment">Комментарий</span>: пришло уведомление что доставка не возможна из-за ошибки
      </li>
      <li>
        Сообщение находится в очереди отправки СМС центра
      </li>
      <li>
        Сообщение принято к отправке СМС центром<br/>
        <span class="comment">Комментарий</span>: скорее всего телефон выключен - сообщение будет доставлено если в течение ограниченного времени телефон станет доступен
      </li>
      <li>
        Отвергнуто СМС центром<br/>
        <span class="comment">Комментарий</span>: пришло уведомление что доставка не возможна
      </li>
    </ul>
  </div>
</div>