<!-- Second Band (Image Left with Text) -->

<div class="row">
  <div class="four columns offset-by-four">
    <form>
      <fieldset>

        <legend>Авторизация</legend>

        <label>Email</label>
        <input type="text" placeholder="введите email" />

        <label>Пароль</label>
        <input type="password" placeholder="введите пароль" />

      </fieldset>
    </form>

    <a class="button" href="#">Войти</a>
  </div>

</div>