<div class="row">
  <div class="six columns">
    <p class="lead">Пример: 79379903835</p>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <%= form_for :black_list, :url => admin_black_lists_create_path, method: :post do |f| %>

        <label>Номер телефона *</label>
        <%= f.text_field :phone, name: 'phone' %>

        <%= f.submit "Создать заблокированный номер", :class => 'button' %>
    <% end %>
  </div>
</div>