<%= stylesheet_link_tag "sms" %>
<%= javascript_include_tag "chosen" %>

<%= javascript_tag(render :partial => 'sms/js/count', :formats => [:js]) %>
<%= javascript_tag(render :partial => 'sms/js/price', :formats => [:js]) %>

<% if not current_user.permit_alpha_sender_name? and not current_user.permit_def_sender_name? %>

    <div class="row">
      <div class="twelve columns">

        <div class="alert-box alert">
          Для вас не активирована рассылка ни через один канал. Просьба связаться со службой техподдержки.
        </div>

      </div>
    </div>
<% end %>



<div class="row">
  <div class="twelve columns">
    <div class="panel">
      <p>
        При использовании цифро-буквенного имени отправителя - отправка СМС будет проходить через "золотой канал" на
        котором действуют следующие
        <%= link_to 'правила тарификации', tariffs_path %>.
        <br>
        При использовании федерального номера в качестве имени отправителя - отправка СМС будет проходить через
        "бронзовый" канал по цене согласно вашего тарифа
      </p>
    </div>
  </div>
</div>

<%= form_for :client, :url => send_sms_path, :html => {:class => "custom2"} do |f| %>

    <div class="row">

      <!-- Имя отправителя -->
      <div class="six columns">
        <p>Имя отправителя</p>
        <%= f.select :sender_name, current_user.accepted_sender_name_values.collect { |s| [s[:value], s[:value]] }, :selected => current_user.active_sender_name_value %>
      </div>
      <!-- Имя отправителя -->

      <!-- Шаблон -->
      <div class="six columns">
        <p>Шаблон</p>
        <%= f.select :template, current_user.templates.collect { |t| [t.name, t.id] }, :include_blank => 'Не использовать шаблон' %>
      </div>
      <!-- Шаблон -->

    </div>

    <div class="row">
      <div class="twelve columns">
        <p></p>
      </div>
    </div>

    <!-- Список телефонов -->
    <div class="row">
      <div class="twelve columns">
        <%= f.text_field :phone_numbers, :placeholder => "Введите телефонные номера через запятую(до #{SMSService.max_phones} штук)" %>
      </div>
    </div>
    <!-- Список телефонов -->

    <div class="row">
      <div class="twelve columns">
        <p>или</p>
      </div>
    </div>

    <!-- Список клиентов chosen -->
    <div class="row">
      <div class="twelve columns">
        <%= f.select :ids, current_user.groups_with_clients.map { |g| g.group_for_select }, {}, {:multiple => true, :class => 'chzn-select', :'data-placeholder' => "Выберите группы получателей рассылки"} %>
      </div>
    </div>
    <!-- Список клиентов chosen end -->

    <div class="row">
      <div class="twelve columns">
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <label id="sms_count_label"></label>
        <%= f.text_area :sms_content, :placeholder => "Текст сообщения", :style => 'height: 150px;', :id => 'sms_content' %>
      </div>
    </div>

    <div class="row">
      <div class="three columns">
        <%= f.submit "Начать рассылку SMS", :class => 'button', style: 'width: 49%' %>
        <%= link_to "Рассчитать сумму", '#', :class => 'success button', :id => 'calc', style: 'width: 49%;' %>
      </div>

      <div class="two columns" id="sms_price_label" style="text-align: left; margin: 5px;">
        Итоговая сумма при 100% доставке за рассылку составит 0 руб.
      </div>

      <div class="seven columns">
      </div>

    </div>

<% end %>
