<div class="row">
  <div class="twelve columns">
    <div class="panel">
      <p>
        <strong>
          Контактный e-mail
        </strong>
      </p>

      <p>
        На данные e-mail будут приходить отчёты о доставке СМС сообщений.
    </div>
  </div>
</div>

<%= form_for :user, :url => update_contact_path, method: :post do |f| %>

    <!-- Контактный email -->
    <div class="row">
      <div class="twelve columns">
        <%= f.text_field :contact_email, :placeholder => "Введите e-mail для получения отчётов о доставке", name: 'contact_email', value: current_user.contact_email %>
      </div>
    </div>
    <!-- Контактный email -->

    <div class="row">
      <div class="twelve columns">
        <%= f.submit "Сохранить контактную почту", :class => 'button' %>
      </div>
    </div>

<% end %>