<div class="row">
  <div class="twelve columns">
    <table class="twelve">
      <thead>
      <tr>
        <th>Email</th>
        <th>ФИО</th>
        <th>Статус</th>
        <th>Тип</th>
        <th>Баланс</th>
        <th>Начисление<br>(бронзовый канал)</th>
        <th>Alpha<br>имя отправителя</th>
        <th>DEF<br>имя отправителя</th>
        <th>Способ платежа</th>
        <th>Создан</th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody>

      <% @users.each do |user| %>
          <tr>
            <td><%= @decorator.login_as_him(user) %></td>
            <td><%= user.fio %></td>
            <td><%= @decorator.status_for_view(user) %></td>
            <td><%= user.type.name %></td>
            <td><%= user.current_balance %></td>
            <td><%= user.charge_type.name %></td>
            <td><%= @decorator.permit_alpha_sender_name(user) %></td>
            <td><%= @decorator.permit_def_sender_name(user) %></td>
            <td><%= user.payment_type.name %></td>
            <td><%= @decorator.created_at(user) %></td>

            <td>
              <%= link_to 'Редактировать', show_user_path(user) %>
              <%= link_to 'Платежи', index_payments_path(user) %>
              <%= link_to 'Тарифы', index_tariffs_path(user) %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>