<%= javascript_tag(render partial: 'admin/users/filter', formats: [:js]) %>

<%= form_for :user, url: users_path, method: :get, :html => {:id => :filter_form} do %>

    <div class="row">
      <div class="two columns">
        <label>Тип</label>
        <%= @decorator.select_for_type %>
      </div>

      <div class="two columns">
        <label>Статус</label>
        <%= @decorator.select_for_status %>
      </div>

      <div class="one columns offset-by-seven">
        <%= @decorator.create_button %>
      </div>
    </div>

<% end %>

<%= render partial: 'table' %>