<div class="row">
  <div class="twelve columns">
    <table class="twelve">
      <thead>
      <tr>
        <th rowspan="2">#</th>
        <th rowspan="2">ФИО / Email</th>

        <% @channels.each do |channel| %>
            <th colspan="4" style="text-align: center;">"<%= channel.name.capitalize %>" канал</th>
        <% end %>

      </tr>

      <tr>
        <% @channels.each do |channel| %>
            <th>Кол-во СМС<br>доставленных</th>
            <th>Кол-во СМС<br>отправленных</th>
            <th>Процент<br>доставки</th>
            <th>Начисления</th>
        <% end %>
      </tr>

      </thead>
      <tbody>

      <% @reports.each_index do |index| %>
          <tr>

            <td><%= index + 1 %></td>
            <td><%= @reports[index][:fio] %>
              <br>
              <%= @reports[index][:email] %>
            </td>

            <% @channels.each do |channel| %>
                <td><%= @reports[index][:stats][channel.internal_name][:success_sms_sent] %></td>
                <td><%= @reports[index][:stats][channel.internal_name][:total_sms_sent] %></td>
                <td><%= @reports[index][:stats][channel.internal_name][:success_percent] %></td>
                <td><%= round_currency @reports[index][:stats][channel.internal_name][:price] %></td>
            <% end %>

          </tr>
      <% end %>

      <tr>
        <td>Итого</td>
        <td></td>

        <%# @channels.each do |channel| %>
        <td><%# number_with_delimiter(@success_sms_sent[channel.internal_name]) %></td>
        <td><%# number_with_delimiter(@total_sms_sent[channel.internal_name]) %></td>
        <td><%# @success_percent[channel.internal_name] %></td>
        <td><%# round_currency(@total_price[channel.internal_name]) %></td>
        <%# end %>

      </tr>

      </tbody>
    </table>
  </div>
</div>
