<div class="row">
  <div class="twelve columns">
    <table class="twelve">
      <thead>
      <tr>
        <th class="one">#</th>
        <th class="one">ФИО</th>
        <th class="one">Email</th>
        <th class="one">Кол-во СМС доставленных</th>
        <th class="one">Кол-во СМС отправленных</th>
        <th class="one">Процент доставки</th>
        <th class="one">Начисления</th>
        <th class="one">Цена за 1 СМС</th>
      </tr>

      </thead>
      <tbody>

      <% @reports.each_index do |index| %>
          <tr>

            <td><%= index + 1 %></td>
            <td><%= @reports[index][:fio] %></td>
            <td><%= @reports[index][:email] %></td>
            <td><%= @reports[index][:stats][channel][:success_sms_sent] %></td>
            <td><%= @reports[index][:stats][channel][:sms_sent] %></td>
            <td><%= @reports[index][:stats][channel][:percent] %></td>
            <td><%= round_currency @reports[index][:stats][channel][:price] %></td>
            <td><%= round_currency @reports[index][:stats][channel][:price_per_sms] %></td>

          </tr>
      <% end %>

      <tr>
        <td>Итого</td>
        <td></td>
        <td></td>
        <td><%= number_with_delimiter(@total[channel][:success_sms_sent]) %></td>
        <td><%= number_with_delimiter(@total[channel][:sms_sent]) %></td>
        <td><%= @total[channel][:percent] %></td>
        <td><%= round_currency(@total[channel][:price]) %></td>
        <td><%= round_currency(@total[channel][:price_per_sms]) %></td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
