<div class="row">

  <div class="twelve columns">

    <dl class="tabs four-up">
      <% @channels.each do |channel| %>
          <%= @decorator.title_tab_for_channel(channel) %>
      <% end %>
    </dl>

    <ul class="tabs-content">
      <% @channels.each do |channel| %>
          <%= @decorator.content_tab_for_channel(channel) %>
      <% end %>

    </ul>

  </div>
</div>