<%= @decorator.datepicker %>

<%= form_for :report, :html => {:class => "custom2"} do |f| %>

    <div class="row">
      <div class="two columns">
        <label><%= I18n.t('report.begin_date') %></label>
        <%= @decorator.begin_datefield %>
      </div>

      <div class="two columns">
        <label><%= I18n.t('report.end_date') %></label>
        <%= @decorator.end_datefield %>
      </div>

      <div class="eight columns"></div>
    </div>

    <div class="row">
      <div class="two columns">
        <%= @decorator.submit_button %>
      </div>

      <div class="two columns">
        <%= @decorator.xls_button %>
      </div>

      <div class="eight columns"></div>
    </div>

<% end %>

<%= render partial: 'admin/report/charges/tabs' %>