<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">

  <Styles>
    <Style ss:ID="Default" ss:Name="Normal">
        <Alignment ss:Vertical="Bottom" />
        <Borders />
        <Font />
        <Interior />
        <NumberFormat />
        <Protection />
    </Style>
    <Style ss:ID="s21">
        <Font ss:Bold="1"/>
    </Style>
  </Styles>

  <% @channels.each do |channel| %>

  <Worksheet ss:Name="<%= channel.internal_name.capitalize %>">
    <Table>

      <% @operators.each do |operator| %>
        <Row ss:StyleID="s21">
            <Cell><Data ss:Type="String"><%= operator.name %></Data></Cell>
        </Row>

        <Row ss:StyleID="s21">
            <Cell><Data ss:Type="String">#</Data></Cell>
            <Cell><Data ss:Type="String">ФИО</Data></Cell>
            <Cell><Data ss:Type="String">Email</Data></Cell>
            <Cell><Data ss:Type="String">Примечание</Data></Cell>
            <Cell><Data ss:Type="String">Кол-во СМС доставленных</Data></Cell>
            <Cell><Data ss:Type="String">Кол-во СМС отправленных</Data></Cell>
            <Cell><Data ss:Type="String">Процент доставки</Data></Cell>
            <Cell><Data ss:Type="String">Начисления(руб.)</Data></Cell>
            <Cell><Data ss:Type="String">Цена за 1 SMS(руб.)</Data></Cell>
        </Row>

        <% @reports.each_index do |index| %>
          <Row>
            <Cell><Data ss:Type="Number"><%= index + 1 %></Data></Cell>
            <Cell><Data ss:Type="String"><%= @reports[index][:fio] %></Data></Cell>
            <Cell><Data ss:Type="String"><%= @reports[index][:email] %></Data></Cell>
            <Cell><Data ss:Type="String"><%= @reports[index][:description] %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= @reports[index][:stats][channel][operator][:success_sms_sent] %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= @reports[index][:stats][channel][operator][:sms_sent] %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= @reports[index][:stats][channel][operator][:percent] %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= round_currency @reports[index][:stats][channel][operator][:price] %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= round_currency @reports[index][:stats][channel][operator][:price_per_sms] %></Data></Cell>
          </Row>
        <% end %>

        <Row ss:StyleID="s21">
            <Cell><Data ss:Type="String">Итого</Data></Cell>
            <Cell><Data ss:Type="String"></Data></Cell>
            <Cell><Data ss:Type="String"></Data></Cell>
            <Cell><Data ss:Type="String"></Data></Cell>
            <Cell><Data ss:Type="Number"><%= @total[channel][operator][:success_sms_sent] %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= @total[channel][operator][:sms_sent] %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= @total[channel][operator][:percent] %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= @total[channel][operator][:price] %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= @total[channel][operator][:price_per_sms] %></Data></Cell>
        </Row>

        <Row></Row>
      <% end %>

    </Table>
  </Worksheet>
  <% end %>

</Workbook>