<div class="row">
  <div class="six columns">
    <div class="panel">
      Итого начислено: <%= number_to_currency(current_user.charges_sum) %> (включая НДС)
    </div>
  </div>

  <div class="six columns">
    <div class="panel">
      Всего SMS: <%= current_user.total_sms_sent %> - отправлено,  <%= current_user.sms_sent_success %> -
      доставлено, <%= current_user.sms_sent_failure %> - недоставлено
    </div>
  </div>
</div>


<div class="row">
  <div class="twelve columns">
    <table class="twelve">
      <thead>
      <tr>
        <th>
          Начало рассылки
          <br>
          Окончание рассылки
        </th>
        <th>Текст</th>
        <th>Имя отправителя</th>
        <th>
          Отправлено SMS
          <br>
          (Доcтавлено/Недоставлено/Всего)
        </th>
        <th>~ скорость отправки сообщений(сообщений/сек)</th>
        <th>Статус</th>
        <th>Ошибки при проверке</th>
        <th>Тип рассылки</th>
        <th>Начислено</th>
        <!--<th>Действия</th>-->
        <th></th>
      </tr>
      </thead>
      <tbody>

      <% @logs.each do |log| %>
          <tr>
            <td>
              <%= I18n.l(log.started_at, :format => '%d %B %Y, %H:%M:%S') if log.started_at %>
              <br>
              <%= I18n.l(log.finished_at, :format => '%d %B %Y, %H:%M:%S') if log.finished_at %>
            </td>
            <td><%= log.content %></td>
            <td><%= log.sender_name_value %></td>
            <td><%= "#{log.sms_sent_success}/#{log.sms_sent_failure}/#{log.total_sms_sent}" %></td>
            <td><%= log.delivery_speed %></td>
            <td><%= log.status.name %></td>
            <td><%= log.check_errors.join(',') %></td>
            <td><%= log.type.name %></td>
            <td><%= number_to_currency(log.price) %></td>
            <td>
              <%= link_to 'Подробности', show_log_path(log) %>
              <br>
              <%= link_to 'Выслать отчёт', report_log_path(log) %>
              <% if SendLog.not_delivered([log.id]).count > 0 %>
                  <br>
                  <%= link_to 'Рассылка по недоставленным', new_delivery_log_path(log), data: {confirm: "Вы уверены, что хотите запустить новую рассылку, включив туда только телефоны на которые СМС не дошли?"} %>
              <% end %>
              <br>
              <br>
              <%= link_to 'Удалить клиентов с недоставленными СМС', delete_clients_log_path(log), data: {confirm: "Вы уверены, что хотите удалить всех клиентов по которым СМС не были доставлены?"} %>

              <% if log.stopable? %>
                <br>
                <%= link_to 'Остановить рассылку', stop_log_path(log), data: {confirm: "Вы уверены, что хотите остановить рассылку?"} %>
              <% end %>

            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <%= will_paginate @logs %>
  </div>
</div>