<div class="row" style="margin-top: 20px;">
  <div class="four columns offset-by-four">

    <% if flash[:notice] %>

      <div class="alert-box">
        <%= flash[:notice] %>
        <a href="" class="close">&times;</a>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert-box alert">
        <%= flash[:alert] %>
        <a href="" class="close">&times;</a>
      </div>
    <% end %>

  </div>
</div>
