<nav class="top-bar">
  <ul>
    <li class="name"><h1><a href="#">Mass SMS</a></h1></li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>

  <section>
    <ul class="left">
      <li class="divider show-for-medium-and-up"></li>
      <li><%= link_to 'СМС рассылка', sms_path %></li>
      <li class="divider show-for-medium-and-up"></li>

      <li><%= link_to 'Авто-рассылки', autodelivery_path %></li>
      <li class="divider show-for-medium-and-up"></li>

      <li class="has-dropdown">
        <a href="#">Настройки</a>

        <ul class="dropdown">
          <li><%= link_to 'Группы', groups_path %></li>
          <li><%= link_to 'Отчёт по рассылкам', show_report_by_date_path %></li>
          <li><%= link_to 'Контактный e-mail', show_contact_path %></li>
          <li><%= link_to 'Запрет ночных рассылок', show_night_delivery_path %></li>
          <li><%= link_to 'Изменение пароля', new_password_path %></li>

          <li class="divider show-for-medium-and-up"></li>
          <li><%= link_to 'Шаблоны сообщений', templates_path %></li>
          <li><%= link_to 'Шаблон для поздравления с днём рождения', show_template_birthday_path %></li>

          <li><%= link_to 'Чёрный список номеров', show_blacklist_path %></li>
          <li><%= link_to 'Тарифы для "золотого" канала', tariffs_path %></li>
        </ul>
      </li>

      <li class="divider show-for-medium-and-up"></li>

      <li class="has-dropdown">
        <a href="#">Отчёты</a>
        <ul class="dropdown">
          <li><%= link_to 'Рассылки', logs_path %></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="#">Для разработчиков</a>
        <ul class="dropdown">
          <li><%= link_to 'Описание API', api_faq_path %></li>
        </ul>
      </li>
      <li><%= link_to 'Имена отправителя', sender_names_path %></li>

    </ul>

    <ul class="right">

      <li>
        <span class="secondary label">Пользователь: <%= current_user.email %></span>
        <span class="secondary label">Текущий баланс: <%= number_to_currency(current_user.current_balance) %></span>
        <span class="secondary label">Цена за 1 СМС(только бронзовый канал): <%= number_to_currency(current_user.price_per_sms) %></span>
      </li>
      <li>
        <%= link_to 'Выход', destroy_user_session_path, :method => :delete, :class => 'small button', :style => 'margin-left: 15px; margin-right: 15px;' %>
      </li>
    </ul>
  </section>
</nav>