<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]>
<html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8"/>

  <!-- Uncomment to make IE8 render like IE7 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title><%= content_for?(:title) ? yield(:title) : Rails.configuration.site_name %></title>

  <!-- Included CSS Files -->
  <%= stylesheet_link_tag "application" %>

  <!-- Included JS Files  -->
  <%= javascript_include_tag "application" %>

  <!-- foundation datepicker start -->
  <%= javascript_include_tag "foundation-datepicker" %>
  <%= stylesheet_link_tag "foundation-datepicker" %>
  <!-- foundation datepicker end -->

  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
  <% if current_user.admin? %>
    <%= render 'layouts/admin/top_nav' %>
  <% else %>
    <%= render 'layouts/top_nav' %>
  <% end %>
<% end %>

<%= render 'layouts/notice' %>

<%= yield %>
</body>
</html>